.new-page {
  display: flex;
  justify-content: space-around; /* Evenly distribute space between, around, and outside the containers */
  align-items: flex-start; /* Align items to the top */
  padding: 20px;
  gap: 20px; /* Space between the boxes */
}

.form-container {
  flex: 1; /* Ensures each container takes equal space */
  max-width: 500px; /* Optional: limit the max width to avoid overly wide forms */
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input, select {
  width: 95%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

button {
  width: 100%;
  padding: 10px;
  border-width: 200px;
  background-color: #71e0eb;
  border-color: #321193;
  color: #321193;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 15px;
}

button:hover {
  background-color: #321193;
  color:#71e0eb;
}

.notification {
  position: fixed;
  bottom: 60px; /* Increase the distance from the bottom */
  right: 20px; /* Distance from the right */
  background-color: #add8e6; /* Light blue color */
  color: #321193; /* Text color */
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s ease; /* Smooth transition for fading */
  z-index: 1000; /* Ensure it is above other elements */
}

.notification.success {
  border-left: 5px solid #28a745; /* Green left border for success */
}

.notification.error {
  border-left: 5px solid #dc3545; /* Red left border for error */
}

