/* Profile.css */

.profile-page {
  font-family: 'Arial', sans-serif;
  color: #333;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  max-width: 600px;
}

.profile-header {
  font-size: 2rem;
  margin-bottom: 20px;
}

.profile-container {
  background: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.profile-info {
  margin-bottom: 20px;
}

.profile-pic {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
}

.upload-btn {
  display: block;
  margin: 10px auto;
}

.editable-fields {
  display: flex;
  flex-direction: column;
}

.input-field {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.save-btn,
.edit-btn,
.update-password-btn,
.logout-btn {
  background-color: #6200ea;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.save-btn:hover,
.edit-btn:hover,
.update-password-btn:hover,
.logout-btn:hover {
  background-color: #3700b3;
}

.user-details h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.user-details p {
  font-size: 1rem;
  margin: 5px 0;
}
